{% extends 'base.html' %}

{% block title %}
 Contact Us
{% endblock title %}

{% block body %}
  {% comment %} <div class= "container-fluid px-0 my-4">
 <img src="/static/6.jfif" class="d-block w-100" alt="...">
 </div>  {% endcomment %}

{% comment %} <div class = "container my-4">
 <h1 class="text-center">Contact Information</h1>
 <form method="POST" action="/contact">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name" name="name" placeholder="Name">
  </div>
  
   <div class="form-group">
    <label for="email">Email Id</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com">
  </div>

   <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Phone Number">
  </div>
  
  <div class="form-group">
    <label for="desc">About Yourself</label>
    <textarea class="form-control" id="desc" name="desc" rows="5"></textarea>
  </div>

  <button type="button" class="btn btn-primary"> Submit </button>

 </form>
 </div>
  {% endcomment %}
  
  <div class="container-fluid mb-3">
  <h1 class="text-center">Contact Info</h1>
 <form method="post" action="contact/">
 {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name" name="name" placeholder="name">
  </div>
  
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
  </div>

  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="phone number">
  </div>

  
  <div class="form-group">
    <label for="desc">Example textarea</label>
    <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
  </div>

  <button class="btn btn-primary" type="Submit">Submit</button>
</form>

  </div>


{% endblock body %}