{% extends 'base.html' %}

{% block title %} Web Services {% endblock title %}

{% block body %} 

<div class="container-fluid my-6">

<div class="row">

<div class="col-md-4">
<h1 class="text-center my-4">Web Services</h1>
<div class="card" style="width: 15rem;">
  <img src="/static/5.jfif" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Django Web Service</h5>
    <p class="card-text">We are develope and deploye website or web app for you, and help you to stay in online world.</p>
    <a href="http://www.google.com/" class="btn btn-primary">Google.Com</a>
  </div>
</div>
</div>

<div class="col-md-4">
<h1 class="text-center my-4"> Django Website</h1>
<div class="card" style="width: 15rem;">
  <img src="/static/6.jfif" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Django Web Service</h5>
    <p class="card-text">We are develope and deploye website or web app for you, and help you to stay in online world.</p>
    <a href="http://www.facebook.com/" class="btn btn-primary">Facebook.Com</a>
  </div>
</div>
</div>

<div class="col-md-4">
<h1 class="text-center my-4"> Django Web App</h1>
<div class="card" style="width: 15rem;">
  <img src="/static/6.jfif" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Django Web Service</h5>
    <p class="card-text">We are develope and deploye website or web app for you, and help you to stay in online world.</p>
    <a href="https://www.youtube.com/" class="btn btn-primary">Youtube.com</a>
  </div>
</div>
</div>

</div>
</div>

{% endblock body %}